body {
    background-color: rebeccapurple;
  }

.locations-container {
    display: flex;
    justify-content: space-around; /* Space between images */
    align-items: center;           /* Vertically center the images */
}

.location-image {
    width: 100px;
    height: auto;
    margin: 0 10px;                /* Add some margin between images */
}
  
.home-image {
  width: 500px;
  height: auto;
}